.form-group {
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &.inactive {
    display: none;
  }
}

.form-group label {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 75%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #333;
  border-radius: 5px;
}

main {
  margin-top: 0;
}

.contenido-central {
  height: 100vh;
}

.tags-container {
  display: flex;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
}

input[type="checkbox"].tag {
  display: none;
}

input[type="checkbox"].tag + label {
  /* Estilo cuando el checkbox no está marcado */
  background-color: #ddd;
  color: #666;
  padding: 10px;
  border-radius: 5px;
}

input[type="checkbox"].tag:checked + label {
  /* Estilo cuando el checkbox está marcado */
  background-color: #6938ef;
  color: white;
}


.buttons div,
.buttons button {
  width: fit-content;
  background: #6938ef;
  user-select: none;
  border-radius: 5px;
}

.buttons div:hover
.buttons button:hover{
  background: #4f1ad1;
}

@media (max-width: 1030px) {
  main{
    margin-top: 10vh;
  }

  .contenido-central {
    height: auto;
  }
}
