.course-title {
  min-height: 20vh;
  background: #5c5c5c;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.course-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.details-container {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-lesson-button {
  padding: 10px 20px;
  user-select: none;
  background: #6938ef;
  color: white;
  border-radius: 5px;

  &:hover {
    background: #4f1cd7;
  }
}

#btn-del {
  padding: 10px 20px;
  background: #ef3838;
  color: white;
  border-radius: 5px;

  &:hover {
    background: #d71c1c;
  }
}

.modal input,
.modal textarea {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
}

#subm-Modal {
  padding: 10px 20px;
  user-select: none;
  background: #6938ef;
  color: white;
  border-radius: 5px;

  &:hover {
    background: #4f1cd7;
  }
}

.lesson-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 2px 4px -2px rgba(144, 141, 141, 0.8);
  box-shadow: 0 2px 4px -2px rgba(144, 141, 141, 0.8);
}

.file-upload-panel {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.file-upload-panel:hover {
  background-color: #f0f0f0;
}

.file-upload-input {
  display: none;
}

.hidden-button {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.video_name {
  text-align: center;
  font-size: 1.5em;
}

.single_video {
  margin: 1em;
  /* width: ; */
}
.videoMiniatura {
  width: 700px;
  cursor: pointer;
  display: block !important;
}

.videoCompleto {
  display: none;
  width: 70%;
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.course-title h1 {
  font-size: 20px;
}

@media (max-width: 768px) {
  .contenido-central {
    flex-direction: column;
  }
}

.video-container {
  position: relative;
}
