*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.academia {
  background-color: #f5f5f5;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: Lato, Helvetica\ Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #191919;
  text-align: left;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  margin-right: auto;
  margin-left: auto;
  background: none;
}

.navbar{
  background: #bebebe;
  border-bottom: #6938ef 2px solid;
  padding: 10px 0;
}

.navbar-top-academia {
  height: 75px;
  width: 100%;
  background: #f2f2ff !important;
  border-bottom: 1px solid #a598f4;
  z-index: 1020;
  position: fixed !important;
  top: 0;
  left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.contenido-central {
  padding-top: 0;
  background: #fff;
}

.nav-container, .contenido-central {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.navbar>div, .menu, .menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-divider{
  position: relative;
}

.menu {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.menu :nth-child(1) ul{
  gap: 15px;
}

.menu a:hover{
  color: #6938ef;
}


.nav-item-divider::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 24px;
    background: rgba(16,24,40,.3);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.cetisi-community-badge {
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: #6938ef;
}

nav figure {
  position: relative;
}

nav figure img {
  height: 60px;
  object-fit: contain;
}

nav ion-icon {
  font-size: 24px;
}

nav ion-icon:hover {
  color: #6938ef;
}

main {
  background: #f9f9f9;
  padding: 20px 0;
  margin-top: 75px;
  min-height: calc(100vh - 81.6px);
}

.contenido-central {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 5px 20px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  font-size: 16px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper {
  padding-top: 30px;
  padding-bottom: 30px;
}



.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.c-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 2px 4px -2px rgba(144,141,141,.8);
  box-shadow: 0 2px 4px -2px rgba(144,141,141,.8);
}

.c-card .card-img {
  position: relative;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  margin: 0;
  border-radius: 8px 8px 0 0;
}

.c-card .card-content {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 105px;
}

.c-card .card-content .card-title {
  font-size: 1.25rem;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;
}

.c-card .card-footer {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  padding: 12px, 20px;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.c-card .card-footer .course-rating {
  white-space: nowrap;
}

.cetisi-badge {
  display: inline-block;
  padding: .25em 10px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 25px;
  text-transform: uppercase;
}

.cetisi-badge.badge-aptitude_test {
  background-color: #333;
  color: #fff;
}

.c-card .test-aptitude-info {
  line-height: 16px;
  color: #7d7d7d;
  margin-left: .5rem;
}

.test-aptitude-info ion-icon {
  font-size: large;
}

.ow-card .test-aptitude-info small {
  font-size: 11.01px;
}