.form-box {
  width: 400px;
  justify-content: space-around;
  gap: 0;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.sign-up-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

input{
  padding: 0.8rem;
  font-size: 1rem;
}

label{
  padding: 0.8rem;
  font-size: 1rem;
}

span{
  font-size: 0.8rem;
}

#error, #errorUser{
  top: 50px;
}

#verifError{
  position: absolute;
  font-size: 0.7rem;
  color: #d20000;
  top: 55px;
  right: 5px;

  &.active{
    display: block;
  }

  &.inactive{
    display: none;
  }
}

.input-box:nth-child(3) input,
.input-box:nth-child(4) input {
  border-radius: 10px;
}

.input-box:nth-child(3) span,
.input-box:nth-child(4) span {
  left: 20px;
}

input:focus~span,
input:valid~span {
  transform: translate(-3rem, -1.2rem) scale(0.8);
}

.input-box:nth-child(3) input:focus~span,
.input-box:nth-child(3) input:valid~span,
.input-box:nth-child(4) input:focus~span,
.input-box:nth-child(4) input:valid~span {
  transform: translate(-1rem, -1.2rem) scale(0.8);
}

.input-box:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.input-box:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.input-box:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}

.input-box:nth-child(4) {
  grid-area: 3 / 2 / 4 / 3;
}

.input-box:nth-child(5) {
  grid-area: 4 / 1 / 5 / 3;
}

.input-box:nth-child(6) {
  grid-area: 5 / 1 / 6 / 3;
}