.form-box {
  width: 500px;
  justify-content: space-around;
  gap: 0;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.sign-up-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.info-group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & span {
    position: absolute;
    top: 0;
    left: 1;
  }
}

input {
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
}

label {
  padding: 0.8rem;
  font-size: 1rem;
}

span {
  font-size: 0.8rem;
}

#verifError,
#userError,
#error,
#emailError {
  position: absolute;
  font-size: 0.7rem;
  color: #d20000;
  top: 55px;
  right: 5px;

  &.active {
    display: block;
  }

  &.inactive {
    display: none;
  }
}

input:focus ~ span,
input:valid ~ span {
  transform: translate(-3rem, -1.2rem) scale(0.8);
}

.input-box:nth-child(3) input:focus ~ span,
.input-box:nth-child(3) input:valid ~ span,
.input-box:nth-child(4) input:focus ~ span,
.input-box:nth-child(4) input:valid ~ span {
  transform: translate(-1rem, -1.2rem) scale(0.8);
}

.info-group,
#btn-submit,
.info-group div {
  &.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  display: none;
}

.buttons:first-child,
.buttons:nth-child(2) {
  background: #6938ef;
  user-select: none;
  border-radius: 5px;
}

.buttons:hover {
  background: #4f1ad1;
}
