* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1705448082121-dd6888a685d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

button {
  border: none;
	border-radius: 20px;
	background: linear-gradient(to right,#C33764, #1D2671);
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
	cursor: pointer;
}

button:focus {
	outline: none;
	cursor: pointer;
}


.form-button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
  transform: box-shadow 500ms;
  animation-timing-function: linear;
  transform: scale(1.05);
}

.ghost {
	background: transparent;
	border: 1px solid #fff;
  
}

form {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.container {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-up-form,
.login-form h2 {
  padding: 0;
  color: black;
  text-align: center;
}

.input-group {
  position: relative;
}

.data-input {
  border: solid 1px #9b9b9b;
  border-radius: 5px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
	width: 100%;
}

.data-label {
  position: absolute;
  left: 1rem;
  pointer-events: none;
  transform: translateY(13px);
  transition: transform 500ms;
}

.data-input:focus~label,
data-input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background: #fff;
  transition: transform 500ms;
}

.data-input:not(:placeholder-shown)~label {
  transform: translateY(-50%) scale(0.8);
  background: #fff;
  transition: transform 500ms;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 3;
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.5s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: linear-gradient(to right,#C33764, #1D2671);
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel button{
  margin-top: 20px;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.sign-up-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-up-grid {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sign-up-grid .input-group:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
.sign-up-grid .input-group:nth-child(2) { grid-area: 2 / 1 / 3 / 3; }
.sign-up-grid .input-group:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
.sign-up-grid .input-group:nth-child(4) { grid-area: 3 / 2 / 4 / 3; }
.sign-up-grid .input-group:nth-child(5) { grid-area: 4 / 1 / 5 / 3; }
.sign-up-grid .input-group:nth-child(6) { grid-area: 5 / 1 / 6 / 3; }